{"swagger":"2.0","info":{"title":"GUID Service API","version":"1.0","description":"AtW GUID Service API - Retrieve person details (including NINO) from GUID with complete OAuth abstraction","contact":{"name":"Lab Support","email":"support@example.com"}},"host":"vpn-lab-apim-guid.azure-api.net","basePath":"/guid","schemes":["https"],"securityDefinitions":{"apiKeyHeader":{"type":"apiKey","name":"Ocp-Apim-Subscription-Key","in":"header"}},"security":[{"apiKeyHeader":[]},{"apiKeyQuery":[]}],"paths":{"/GetGUID":{"post":{"description":"Retrieves person details (including NINO) from a GUID","operationId":"GetPersonDetails","summary":"Get Person Details from GUID","parameters":[{"name":"getGUIDPostRequest","in":"body","schema":{"required":["guid"],"type":"object","properties":{"guid":{"description":"Unique identifier for the person (UUID format)","minLength":32,"type":"string","example":"123e4567-e89b-12d3-a456-426614174000"}},"example":{"guid":"123e4567-e89b-12d3-a456-426614174000"}}}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Successfully retrieved person details","schema":{"type":"object","properties":{"nino":{"description":"National Insurance Number","type":"string","example":"AB123456C"},"guid":{"description":"Unique identifier for the person","type":"string","example":"123e4567-e89b-12d3-a456-426614174000"},"firstName":{"description":"Person's first name","type":"string"},"lastName":{"description":"Person's last name","type":"string"},"dateOfBirth":{"description":"Date of birth","type":"string"}}},"examples":{"application/json":{"nino":"AB123456C","guid":"123e4567-e89b-12d3-a456-426614174000","firstName":"string","lastName":"string","dateOfBirth":"string"}}},"400":{"description":"Invalid request - missing or invalid GUID"},"401":{"description":"Authentication failed - Cognito OAuth error"},"404":{"description":"GUID not found in GUID service"},"500":{"description":"Internal server error"}}}}},"definitions":{},"tags":[]}